header
    p
        span= message
    nav
        ul
            li
                a(href='/') Home page
            li
                a(href='/about') About page
            li
                a(href='/profile') Profile page
            li
                a(href='/settings') Settings page
