html, body, p, div, span, img, ul, ol, li, nav, a {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul, ol, li {
  list-style: none;
}
a {
  color: #222;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
#logo {
  height: 50px;
  weight: 50px;
}
